<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="min-vh-100 pt-5">
  <div class="container">
    <h1 class="p-3">CONATCT SECTION
    </h1>
    <div _ngcontent-cmn-c6="" class="line me-3" style="background-color: white;"></div><i _ngcontent-cmn-c6=""
      class="fa-solid fa-star"></i>
    <div _ngcontent-cmn-c6="" class="line ms-3" style="background-color: white;"></div>
    <div class="p-4 m-3">
      <input type="text" class="form-control" placeholder="userName">
      <input type="number" class="form-control my-2" placeholder="userAge">
      <input type="password" class="form-control" placeholder="userPassword">
      <button class="btn btn-info m-2">send Message </button>
    </div>
  </div>
</body>

</html>