<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="pt-5 text-light min-vh-100 bg-primary">
  <div class="container  ">
    <h1 class="p-3">PORTFOLIO COMPONENT
    </h1>
    <div _ngcontent-cmn-c6="" class="line me-3" style="background-color: white;"></div><i _ngcontent-cmn-c6=""
      class="fa-solid fa-star"></i>
    <div _ngcontent-cmn-c6="" class="line ms-3" style="background-color: white;"></div>
    <div class="row g-4 p-4">
      <div class="col-md-4  ">
        <a onclick="ng">
          <img src="./assets/poert1.png" class='w-100 rounded-2' alt=""></a>
      </div>
      <div class="col-md-4  ">
        <img src="./assets/port2.png" class='w-100 rounded-2' alt="">
      </div>
      <div class="col-md-4  ">
        <img src="./assets/port3.png" class='w-100 rounded-2' alt="">
      </div>
      <div class="col-md-4  ">
        <img src="./assets/poert1.png" class='w-100 rounded-2' alt="">
      </div>
      <div class="col-md-4  ">
        <img src="./assets/port2.png" class='w-100 rounded-2' alt="">
      </div>
      <div class="col-md-4  ">
        <img src="./assets/port3.png" class='w-100 rounded-2' alt="">
      </div>
    </div>
  </div>

</body>

</html>