<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body class="pt-5 text-light bg-primary min-vh-100 align-content-center">
  <div class="container  p-3">
    <img src="./assets/avataaars.svg" class="w-25 " alt="">

    <h1>START FRAMEWORK </h1>
    <div _ngcontent-cmn-c6="" class="d-flex align-items-center justify-content-center mb-3">

      <div _ngcontent-cmn-c6="" class="line me-3" style="background-color: white;"></div><i _ngcontent-cmn-c6=""
        class="fa-solid fa-star"></i>
      <div _ngcontent-cmn-c6="" class="line ms-3" style="background-color: white;"></div>
    </div>
    <div _ngcontent-cmn-c17="">Graphic Artist - Web Designer - Illustrator</div>
  </div>

</body>

</html>